.recipe-page {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-page_title {
    font-size: 22px;
}

.recipe-page p,
.recipe-page button {
    margin: 10px 0;
}
